.divcolor{
    background-color: #faf4ff;

}
.headcolor{

    background-color: #faf4ff;
}
.fontcol{

    color: #d081e8;
    font-family: 'Jockey One', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}
.search-main{
    background-color: #a8af93;
     text-align: center;
}