.back {
    margin: auto;
    width: 420px;
    height: 350px;
    box-shadow: 0 0 3px #000;
}
.up{
    margin-top: 25px;
    margin-left: 25px;
}
.inp {
    width: 290px;
    border: 0;
}

.but {
    border-radius: 5%;
    background-color: #3baeed;
    color: white;
    width: 370px;
    height: 35px;
    margin-left: 25px;
    margin-top: 20px;
}

a {
    color: #3baeed;
    text-decoration: none;
}